.text-align-left{text-align:left;}.text-align-right{text-align:right;}.text-align-center{text-align:center;}.text-align-justify{text-align:justify;}.align-left{float:left;}.align-right{float:right;}.align-center{display:block;margin-right:auto;margin-left:auto;}
.fieldgroup{padding:0;border-width:0;}
.container-inline div,.container-inline label{display:inline-block;}.container-inline .details-wrapper{display:block;}
.clearfix:after{display:table;clear:both;content:"";}
.js details:not([open]) .details-wrapper{display:none;}
.hidden{display:none;}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal;}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto;}.invisible{visibility:hidden;}
.item-list__comma-list,.item-list__comma-list li{display:inline;}.item-list__comma-list{margin:0;padding:0;}.item-list__comma-list li:after{content:", ";}.item-list__comma-list li:last-child:after{content:"";}
.js .js-hide{display:none;}.js-show{display:none;}.js .js-show{display:block;}
.nowrap{white-space:nowrap;}
.position-container{position:relative;}
.progress{position:relative;}.progress__track{min-width:100px;max-width:100%;height:16px;margin-top:5px;border:1px solid;background-color:#fff;}.progress__bar{width:3%;min-width:3%;max-width:100%;height:16px;background-color:#000;}.progress__description,.progress__percentage{overflow:hidden;margin-top:0.2em;color:#555;font-size:0.875em;}.progress__description{float:left;}[dir="rtl"] .progress__description{float:right;}.progress__percentage{float:right;}[dir="rtl"] .progress__percentage{float:left;}.progress--small .progress__track{height:7px;}.progress--small .progress__bar{height:7px;background-size:20px 20px;}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.resize-none{resize:none;}.resize-vertical{min-height:2em;resize:vertical;}.resize-horizontal{max-width:100%;resize:horizontal;}.resize-both{max-width:100%;min-height:2em;resize:both;}
table.sticky-header{z-index:500;top:0;margin-top:0;background-color:#fff;}
.system-status-counter__status-icon{display:inline-block;width:25px;height:25px;vertical-align:middle;}.system-status-counter__status-icon:before{display:block;width:100%;height:100%;content:"";background-repeat:no-repeat;background-position:center 2px;background-size:16px;}.system-status-counter__status-icon--error:before{background-image:url(/core/misc/icons/e32700/error.svg);}.system-status-counter__status-icon--warning:before{background-image:url(/core/misc/icons/e29700/warning.svg);}.system-status-counter__status-icon--checked:before{background-image:url(/core/misc/icons/73b355/check.svg);}
.system-status-report-counters__item{width:100%;margin-bottom:0.5em;padding:0.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,0.063);}@media screen and (min-width:60em){.system-status-report-counters{display:flex;flex-wrap:wrap;justify-content:space-between;}.system-status-report-counters__item--half-width{width:49%;}.system-status-report-counters__item--third-width{width:33%;}}
.system-status-general-info__item{margin-top:1em;padding:0 1em 1em;border:1px solid #ccc;}.system-status-general-info__item-title{border-bottom:1px solid #ccc;}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%;}.tablesort--asc{background-image:url(/core/misc/icons/787878/twistie-down.svg);}.tablesort--desc{background-image:url(/core/misc/icons/787878/twistie-up.svg);}
div.tree-child{background:url(/core/misc/tree.png) no-repeat 11px center;}div.tree-child-last{background:url(/core/misc/tree-bottom.png) no-repeat 11px center;}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center;}div.tree-child-horizontal{background:url(/core/misc/tree.png) no-repeat -11px center;}
.view-uc-orders .form-item{padding-top:4px;}.view-uc-orders #edit-order-id{width:10em;}.view-uc-orders #edit-delivery-first-name-wrapper,.view-uc-orders #edit-created-wrapper{clear:left;}[dir="rtl"] .view-uc-orders #edit-delivery-first-name-wrapper,[dir="rtl"] .view-uc-orders #edit-created-wrapper{clear:right;}.view-uc-orders #edit-created-min-wrapper,.view-uc-orders #edit-created-max-wrapper{float:left;}[dir="rtl"] .view-uc-orders #edit-created-min-wrapper,[dir="rtl"] .view-uc-orders #edit-created-max-wrapper{float:right;}.view-uc-orders .form-type-date-select .date-padding{padding:0 22px 0 0;}[dir="rtl"] .view-uc-orders .form-type-date-select .date-padding{padding:0 0 0 22px;}.view-uc-orders .form-type-date-select{padding-top:0;}.order-pane{border:1px solid #bbb;line-height:1.1em;margin:.5em;padding:.5em;position:relative;}.order-pane-icons{position:absolute;right:.5em;top:5px;}[dir="rtl"] .order-pane-icons{right:auto;left:.5em;}.order-pane-icons img{cursor:pointer;}.order-pane-title{font-weight:bold;padding-bottom:.5em;}.order-pane.pos-left{float:left;}[dir="rtl"] .order-pane.pos-left{float:right;}.order-pane.abs-left{border:0;clear:left;padding:.5em 0;}[dir="rtl"] .order-pane.abs-left{clear:right;}.order-pane.abs-left .form-submit{margin:0.5em 0.5em 0.5em 0;}[dir="rtl"] .order-pane.abs-left .form-submit{margin:0.5em 0 0.5em 0.5em;}.uc-order-edit-form .form-actions{clear:both;}.order-pane #edit-add-line-item,.order-pane #edit-add-line-item .form-item{float:left;margin-right:1em;padding-top:0;}[dir="rtl"] .order-pane #edit-add-line-item,[dir="rtl"] .order-pane #edit-add-line-item .form-item{float:right;margin-right:auto;margin-left:1em;}.order-pane .line-item-table{float:right;width:auto;}.order-pane-table th{padding:4px 8px;}.order-pane-table td{padding:4px 8px;vertical-align:top;}.order-pane-table td.qty,.order-pane-table td.sku{text-align:center;white-space:nowrap;}.order-pane-table td.product{width:80%;}.order-pane-table td.cost,.order-pane-table td.price,.order-pane-table td.total{text-align:right;white-space:nowrap;}[dir="rtl"] .order-pane-table td.cost,[dir="rtl"] .order-pane-table td.price,[dir="rtl"] .order-pane-table td.total{text-align:left;}#order-edit-products .form-remove{cursor:pointer;margin-top:4px;}.uc-order-comments td{vertical-align:top;}.uc-order-comments .date{width:25%;text-align:left;}[dir="rtl"] .uc-order-comments .date{text-align:right;}.uc-order-comments .user,.uc-order-comments .notified,.uc-order-comments .status{text-align:center;}.uc-order-comments .message{width:80%;}.address-select-box{background-color:#ddd;border:solid 1px #999;margin-bottom:1em;padding-bottom:1em;padding-left:1em;width:auto;}[dir="rtl"] .address-select-box{padding-left:inherit;padding-right:1em;}.customer-select-box{background-color:#ddd;border:solid 1px #999;margin-top:1em;padding:1em;width:auto;}.line-item-table{width:100%;}.line-item-table td{padding:2px;}.line-item-table .li-title{font-weight:bold;text-align:right;width:100%;}[dir="rtl"] .line-item-table .li-title{text-align:left;}.line-item-table .li-amount{text-align:right;white-space:nowrap;}[dir="rtl"] .line-item-table .li-amount{text-align:left;}.line-item-table .form-item{display:inline;}.order-pane-table .product-description{font-size:.7em;}.order-pane #uc-credit-order-view-form{margin-bottom:0;margin-top:.5em;}#uc-credit-order-view-form .form-submit{margin:0;}#uc-order-view-update-form #edit-controls label{display:inline;}#uc-order-view-update-form #edit-controls .form-type-checkbox{padding-top:8px;}#uc-order-view-update-form .form-actions{clear:left;}[dir="rtl"] #uc-order-view-update-form .form-actions{clear:right;}.address-select-box #uc-order-address-book-form{margin-bottom:0;}.order-pane #customer-select form{margin-bottom:0;}#order-pane-print_button{border:1px solid #bbb;padding:0.5em 0.5em 0.5em 2em;background:url(/modules/ubercart/uc_store/images/print.gif) no-repeat 0.5em 50%;}[dir="rtl"] #order-pane-print_button{padding:0.5em 2em 0.5em 0.5em;}
.uc-product-image{overflow:auto;width:100%;}.uc-product-image .field-item + .field-item img{float:left;margin-right:1em;}[dir="rtl"] .uc-product-image .field-item + .field-item img{float:right;margin-right:auto;margin-left:1em;}.display-price{clear:right;float:right;font-size:1.3em;font-weight:bold;padding-bottom:4px;padding-left:4px;text-align:center;}[dir="rtl"] .display-price{clear:left;float:left;padding-left:inherit;padding-right:4px;}.uc-product-features td{vertical-align:top;}.combinations .form-item{margin:0;padding:0;}.expiration{display:inline;}.expiration .form-item{display:inline;}
.uc-price{white-space:nowrap;}input.form-uc-price{width:8em;}input.form-uc-quantity{width:4em;}.uc-inline-form .form-item{float:left;margin-right:1em;padding-top:5px;}[dir="rtl"] .uc-inline-form .form-item{float:right;margin-right:auto;margin-left:1em;}.uc-default-submit{height:0;left:-9999px;position:absolute;top:-9999px;width:0;}[dir="rtl"] .uc-default-submit{left:auto;right:-9999px;}.uc-store-address-field .form-item{margin-top:0.5em;margin-bottom:0.5em;}.uc-store-address-field .form-item label{float:left;margin-top:6px;padding-right:0.75em;text-align:right;width:10em;}[dir="rtl"] .uc-store-address-field .form-item label{float:right;padding-right:inherit;padding-left:0.75em;text-align:left;}.toolbar-icon-uc-store-admin-store:before{background-image:url(/modules/ubercart/uc_store/icons/787878/cart.svg);}.toolbar-icon-uc-store-admin-store:active:before,.toolbar-icon-uc-store-admin-store.active:before{background-image:url(/modules/ubercart/uc_store/icons/000000/cart.svg);}
