{{ form.form_build_id }} {{ form.form_token }} {{ form.form_id }} {{ form.actions }}
<div class="col-lg-6">
  {{ form.quantity }}
  {{ form.price }}
  {{ form.submit }}
</div>
<div class="col-lg-6">
  {{ form.district }}
  {{ form.phone }}
  {{ form.address }}
</div>
